@media (max-width: 568px) {
	ion-tab-button {
		--padding-end: 2px;
		--padding-start: 2px;
	}
}

ion-content.contrasty ion-list {
	background: var(--ion-color-step-50);
}

/* SimpleGenerator */

ion-list.generatorOutput {
	--timing: 0.5s;

	--basic-transition-to-visible: var(--timing) ease-out var(--timing);
	--basic-transition-to-hidden: var(--timing) ease-in;
	--basic-transition-instant: 0s linear;
	--basic-transition-delayed-instant: 0s linear var(--timing);

	--transition-visible:
		top var(--basic-transition-to-visible),
		bottom var(--basic-transition-to-visible),
		left var(--basic-transition-to-visible),
		right var(--basic-transition-to-visible),
		opacity var(--basic-transition-to-visible),
		transform var(--basic-transition-to-visible);
	--transition-hidden:
		top var(--basic-transition-to-hidden),
		bottom var(--basic-transition-to-hidden),
		left var(--basic-transition-to-hidden),
		right var(--basic-transition-to-hidden),
		opacity var(--basic-transition-to-hidden),
		transform var(--basic-transition-to-hidden);

	--opacity-visible: 1;
	--transform-visible: none;

	--opacity-hidden: 1;
	--transform-hidden: none;

	--top-visible: 0;
	--bottom-visible: auto;
	--left-visible: 0;
	--right-visible: 0;

	--top-hidden: 0;
	--bottom-hidden: auto;
	--left-hidden: 0;
	--right-hidden: 0;

	--scaleY-visible: 1;
	--scaleY-hidden: 1;

	--rotateY-visible: 0;
	--rotateY-hidden: 0;

	--translateY-visible: 0;
	--translateY-hidden: 0;
}
/* Accordion */
ion-list.generatorOutput.accordion {
	--scaleY-hidden: 0;
}
/* Fading */
ion-list.generatorOutput.fading {
	--opacity-hidden: 0;
}
/* Spinning */
ion-list.generatorOutput.spinning {
	--rotateY-hidden: 90deg;
}
/* Sliding */
ion-list.generatorOutput.sliding {
	--left-hidden: -100vw;
	--right-hidden: 100vw;
	--transition-visible: var(--transition-hidden);
}
ion-list.generatorOutput.alternate.sliding {
	--left-hidden: 100vw;
	--right-hidden: -100vw;
}
/* Scrolling */
ion-list.generatorOutput.scrolling {
	--translateY-hidden: -100vh;
	--transition-visible: var(--transition-hidden);
}
ion-list.generatorOutput.alternate.scrolling {
	--translateY-hidden: 100vh;
	--opacity-hidden: 0;
	--top-hidden: -100vh;
	--transition-visible:
		transform var(--basic-transition-to-hidden),
		top var(--basic-transition-instant),
		opacity var(--basic-transition-instant);
	--transition-hidden:
		transform var(--basic-transition-to-hidden),
		top var(--basic-transition-delayed-instant),
		opacity var(--basic-transition-delayed-instant);
}
/* No Delay */
ion-list.generatorOutput.instant {
	--timing: 0s;
	--opacity-hidden: 0;
}

/* Basics */
ion-content {
	position: relative;
}

ion-list.generatorOutput {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	position: absolute;
	overflow: hidden;
	padding: 0;

	top: var(--top-visible);
	bottom: var(--bottom-visible);
	left: var(--left-visible);
	right: var(--right-visible);
	transition: var(--transition-visible);
	transform: scaleY(var(--scaleY-visible)) translateY(var(--translateY-visible)) rotateY(var(--rotateY-visible));
	opacity: var(--opacity-visible);
}
ion-list.generatorOutput.hidden {
	pointer-events: none;

	top: var(--top-hidden);
	bottom: var(--bottom-hidden);
	left: var(--left-hidden);
	right: var(--right-hidden);
	transition: var(--transition-hidden);
	transform: scaleY(var(--scaleY-hidden)) translateY(var(--translateY-hidden)) rotateY(var(--rotateY-hidden));
	opacity: var(--opacity-hidden);
}
ion-content.noIntro ion-list.generatorOutput {
	padding-top: 30vh;
}
ion-list.generatorOutput ion-item {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
ion-list.generatorOutput ion-item ion-label {
	min-height: 0;
	margin: 0;
	overflow: hidden;
}
ion-list.generatorOutput ion-item.intro {
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-top-style: double;
	border-bottom-style: double;
	border-top-color: var(--ion-color-step-150);
	border-bottom-color: var(--ion-color-step-150);
	margin-block: 10vh;

	background: var(--ion-color-step-150);
	background-clip: padding-box;
	height: 5em;
}
ion-list.generatorOutput ion-item.singularResult {
	user-select: text;
	background-image: linear-gradient(
		to bottom,
		transparent,
		var(--ion-color-secondary) 15%,
		var(--ion-color-secondary) 85%,
		transparent
	);
	color: var(--ion-color-secondary-contrast);

	min-height: 20vh;
	max-height: 40vh;
	padding-block: 5vh;

	font-size: 2em;
	user-select: text;
}
ion-list.generatorOutput.alternate ion-item.singularResult {
	background-image: linear-gradient(
		to bottom,
		transparent,
		var(--ion-color-tertiary) 15%,
		var(--ion-color-tertiary) 85%,
		transparent
	);
	color: var(--ion-color-tertiary-contrast);
}
