@media (max-width: 568px) {
	ion-tab-button {
		--padding-end: 2px;
		--padding-start: 2px;
	}
}

ion-list ion-item-divider {
	color: var(--ion-color-step-700);
}

/* Loading Page */

#loadingPage {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
#loadingPage div {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
#loadingPage div h1 {
	display: block;
	padding-block: 1em;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	background: var(--ion-color-primary-shade);
	color: var(--ion-color-primary-contrast);
}
#loadingPage ion-progress-bar {
	height: 1em;
}
#loadingPage ion-progress-bar::part(track) {
	background: var(--ion-color-primary-shade);
}

/* Alerts */

ion-alert.warning .alert-wrapper {
	--ion-text-color: var(--ion-color-warning-contrast);
	background: var(--ion-color-warning);
	background-clip: padding-box;
	border: 5px double var(--ion-color-warning-tint);
	border-radius: 1em;
}
ion-alert.warning .alert-message {
	color: var(--ion-color-warning-contrast);
}
ion-alert.warning button.submit {
	background: var(--ion-color-danger);
	border: 2px solid var(--ion-color-danger-shade);
	border-radius: 0.5em;
	color: var(--ion-color-danger-contrast);
}
ion-alert.warning button.cancel {
	background: var(--ion-color-warning-shade);
	border: 2px solid var(--ion-color-warning-shade);
	border-radius: 0.5em;
	color: var(--ion-color-warning-contrast);
}

/* Toasts */

ion-toast::part(message) {
	text-align: center;
	margin: 0 auto;
}

/* Main Page */

ion-list.main {
	padding-block: 0;
	margin-block: 0;
}
ion-list.main ion-item-divider {
	border-top: 1px solid var(--ion-border-color);
	background: #fff1;
}
ion-list.main ion-item {
	--padding-start: 1em;
	--inner-padding-end: 1em;
}
ion-list.main ion-item div.unit {
	padding-block: 0.5em;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: flex-end;
	width: calc(100vw - var(--padding-start) - var(--inner-padding-end));
}
ion-list.main ion-item:first-of-type div.unit {
	padding-block-start: 1em;
}
ion-list.main ion-item.ending div.unit {
	padding-block-end: 1em;
}

ion-list.main ion-item div.unit ion-button {
	--border-radius: 1em;
	--box-shadow: 0.25em 0.25em 0.1em 0 rgb(var(--ion-color-light-rgb), 0.25);
	flex: 0 0 calc(45% + 2.2em - 1.75em - 0.5em);
}

ion-list.main ion-item div.unit ion-button::part(native) {
	--box-shadow: 0.25em 0.25em 0.1em 0 #000000;
	--padding-start: 1.1em;
	--padding-end: 1.1em;
}

ion-list.main ion-item div.unit ion-button ion-label {
	white-space: normal;
	text-transform: none;
	font-variant: small-caps;
	font-size: 1.2em;
}

ion-list.main ion-item div.unit div.text {
	padding-inline-start: 1.75em;
	text-indent: -0.5em;
	font-size: 0.9em;
	white-space: normal;
	flex: 0 0 calc(55% + 1.75em - 2.2em - 0.5em);
	color: var(--ion-color-step-950);
}

/* Settings Page */

ion-list.settings ion-item-divider:first-of-type {
	border-top: 1px solid var(--ion-border-color);
}
ion-list.settings ion-item-divider.major {
	border-top: 1px solid var(--ion-border-color);
	border-bottom: 0;
	font-size: 1.25em;
	color: var(--ion-color-primary);
	background: var(--ion-color-dark-shade);
	padding-block: 0.25em;
}
ion-list.settings ion-item-divider.major:first-of-type {
	border-bottom: 1px solid var(--ion-border-color);
}
ion-list.settings {
	padding-block: 0;
	background: var(--ion-color-step-50);
}
ion-list.settings ion-item p,
ion-list.settings ion-item h2 {
	white-space: normal;
	overflow-wrap: anywhere;
}
ion-list.settings ion-item p {
	font-size: 0.8rem;
	padding: 0;
	text-indent: 0;
	color: var(--ion-color-step-500);
	width: 100%;
	margin-block: 0;
}
ion-list.settings ion-item h2 {
	font-size: 1.1rem;
	margin: 0.25em 0;
}
ion-list.settings ion-item.subtype {
	padding-inline-start: 1em;
}
ion-item.firsthalf ion-label {
	margin-bottom: 0;
}
ion-item.secondhalf > * {
	padding-top: 0;
}

ion-list.settings ion-input {
	--background: var(--ion-color-step-100);
	--padding-start: 1em !important;
	--padding-end: 1em;
}

ion-list.settings ion-item.version p,
ion-list.settings ion-item.version h2 {
	white-space: normal;
	overflow-wrap: anywhere;
}
ion-list.settings ion-item.version h2 {
	font-size: 1.1rem;
	margin: 1em auto;
}
ion-list.settings ion-item.version p {
	font-size: 0.8rem;
	padding: 0;
	text-indent: 0;
	color: var(--ion-color-step-500);
	width: 100%;
	margin: 0.5em auto;
}

/* SimpleGenerator */

ion-list.generatorOutput {
	--timing: 0.5s;

	--basic-transition-to-visible: var(--timing) ease-out var(--timing);
	--basic-transition-to-hidden: var(--timing) ease-in;
	--basic-transition-instant: 0s linear;
	--basic-transition-delayed-instant: 0s linear var(--timing);

	--transition-visible:
		top var(--basic-transition-to-visible),
		bottom var(--basic-transition-to-visible),
		left var(--basic-transition-to-visible),
		right var(--basic-transition-to-visible),
		opacity var(--basic-transition-to-visible),
		transform var(--basic-transition-to-visible);
	--transition-hidden:
		top var(--basic-transition-to-hidden),
		bottom var(--basic-transition-to-hidden),
		left var(--basic-transition-to-hidden),
		right var(--basic-transition-to-hidden),
		opacity var(--basic-transition-to-hidden),
		transform var(--basic-transition-to-hidden);

	--opacity-visible: 1;
	--transform-visible: none;

	--opacity-hidden: 1;
	--transform-hidden: none;

	--top-visible: 0;
	--bottom-visible: auto;
	--left-visible: 0;
	--right-visible: 0;

	--top-hidden: 0;
	--bottom-hidden: auto;
	--left-hidden: 0;
	--right-hidden: 0;

	--scaleY-visible: 1;
	--scaleY-hidden: 1;

	--rotateY-visible: 0;
	--rotateY-hidden: 0;

	--translateY-visible: 0;
	--translateY-hidden: 0;
}
/* Accordion */
ion-list.generatorOutput.accordion {
	--scaleY-hidden: 0;
}
/* Fading */
ion-list.generatorOutput.fading {
	--opacity-hidden: 0;
}
/* Spinning */
ion-list.generatorOutput.spinning {
	--rotateY-hidden: 90deg;
}
/* Sliding */
ion-list.generatorOutput.sliding {
	--left-hidden: -100vw;
	--right-hidden: 100vw;
	--transition-visible: var(--transition-hidden);
}
ion-list.generatorOutput.alternate.sliding {
	--left-hidden: 100vw;
	--right-hidden: -100vw;
}
/* Scrolling */
ion-list.generatorOutput.scrolling {
	--translateY-hidden: -100vh;
	--transition-visible: var(--transition-hidden);
}
ion-list.generatorOutput.alternate.scrolling {
	--translateY-hidden: 100vh;
	--opacity-hidden: 0;
	--top-hidden: -100vh;
	--transition-visible:
		transform var(--basic-transition-to-hidden),
		top var(--basic-transition-instant),
		opacity var(--basic-transition-instant);
	--transition-hidden:
		transform var(--basic-transition-to-hidden),
		top var(--basic-transition-delayed-instant),
		opacity var(--basic-transition-delayed-instant);
}
/* No Delay */
ion-list.generatorOutput.instant {
	--timing: 0s;
	--opacity-hidden: 0;
}

/* Basics */
ion-content {
	position: relative;
}

ion-list.generatorOutput {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	position: absolute;
	overflow: hidden;
	padding: 0;

	top: var(--top-visible);
	bottom: var(--bottom-visible);
	left: var(--left-visible);
	right: var(--right-visible);
	transition: var(--transition-visible);
	transform: scaleY(var(--scaleY-visible)) translateY(var(--translateY-visible)) rotateY(var(--rotateY-visible));
	opacity: var(--opacity-visible);
}
ion-list.generatorOutput.hidden {
	pointer-events: none;

	top: var(--top-hidden);
	bottom: var(--bottom-hidden);
	left: var(--left-hidden);
	right: var(--right-hidden);
	transition: var(--transition-hidden);
	transform: scaleY(var(--scaleY-hidden)) translateY(var(--translateY-hidden)) rotateY(var(--rotateY-hidden));
	opacity: var(--opacity-hidden);
}
ion-content.noIntro ion-list.generatorOutput {
	padding-top: 30vh;
}
ion-list.generatorOutput ion-item {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
ion-list.generatorOutput ion-item ion-label {
	min-height: 0;
	margin: 0;
	overflow: hidden;
}
ion-list.generatorOutput ion-item.intro {
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-top-style: double;
	border-bottom-style: double;
	border-top-color: var(--ion-color-step-150);
	border-bottom-color: var(--ion-color-step-150);
	margin-block: 10vh;

	background: var(--ion-color-step-150);
	background-clip: padding-box;
	height: 5em;
}
ion-list.generatorOutput ion-item.singularResult {
	user-select: text;
	background-image: linear-gradient(
		to bottom,
		transparent,
		var(--ion-color-secondary) 15%,
		var(--ion-color-secondary) 85%,
		transparent
	);
	color: var(--ion-color-secondary-contrast);

	min-height: 20vh;
	max-height: 40vh;
	padding-block: 5vh;

	font-size: 2em;
	user-select: text;
}
ion-list.generatorOutput.alternate ion-item.singularResult {
	background-image: linear-gradient(
		to bottom,
		transparent,
		var(--ion-color-tertiary) 15%,
		var(--ion-color-tertiary) 85%,
		transparent
	);
	color: var(--ion-color-tertiary-contrast);
}
