/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-light: #D0DDD7;
  --ion-color-light-rgb: 208,221,215;
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-dark: #011C27;
  --ion-color-dark-rgb: 1,28,39;

  --ion-color-light-contrast: var(--ion-color-dark);
  --ion-color-light-contrast-rgb: var(--ion-color-dark-rgb);
  --ion-color-light-shade: #A7B3AD;
  --ion-color-light-tint: #E8F1EB;

  --ion-color-medium-contrast: var(--ion-color-dark);
  --ion-color-medium-contrast-rgb: var(--ion-color-dark-rgb);
  --ion-color-medium-shade: #7C7C85;
  --ion-color-medium-tint: #AAACB2;

  --ion-color-dark-contrast: var(--ion-color-light);
  --ion-color-dark-contrast-rgb: var(--ion-color-light-rgb);
  --ion-color-dark-shade: #01141C;
  --ion-color-dark-tint: #2F4852;

  --ion-color-primary: #0E79B2;
  --ion-color-primary-rgb: 14,121,78;
  --ion-color-primary-contrast: var(--ion-color-light);
  --ion-color-primary-contrast-rgb: var(--ion-color-light-rgb);
  --ion-color-primary-shade: #0A6494;
  --ion-color-primary-tint: #3992C1;

  --ion-color-secondary: #65334D;
  --ion-color-secondary-rgb: 101,51,77;
  --ion-color-secondary-contrast: var(--ion-color-light);
  --ion-color-secondary-contrast-rgb: var(--ion-color-light-rgb);
  --ion-color-secondary-shade: #552941;
  --ion-color-secondary-tint: #82586E;

  --ion-color-tertiary: #028089;
  --ion-color-tertiary-rgb: 53,134,0;
  --ion-color-tertiary-contrast: var(--ion-color-light);
  --ion-color-tertiary-contrast-rgb: var(--ion-color-light-rgb);
  --ion-color-tertiary-shade: #7A4700;
  --ion-color-tertiary-tint: #A9762E;

  --ion-color-success: #1C7C54;
  --ion-color-success-rgb: 28,124,84;
  --ion-color-success-contrast: var(--ion-color-light);
  --ion-color-success-contrast-rgb: var(--ion-color-light-rgb);
  --ion-color-success-shade: #145438;
  --ion-color-success-tint: #459574;

  --ion-color-warning: #F4AC32;
  --ion-color-warning-rgb: 244,172,50;
  --ion-color-warning-contrast: var(--ion-color-dark);
  --ion-color-warning-contrast-rgb: var(--ion-color-dark-rgb);
  --ion-color-warning-shade: #C88C29;
  --ion-color-warning-tint: #F6BB56;

  --ion-color-danger: #D72638;
  --ion-color-danger-rgb: 215,38,56;
  --ion-color-danger-contrast: var(--ion-color-light);
  --ion-color-danger-contrast-rgb: var(--ion-color-light-rgb);
  --ion-color-danger-shade: #B2202E;
  --ion-color-danger-tint: #DE4D5C;


  --ion-background-color: var(--ion-color-dark);
  --ion-background-color-rgb: var(--ion-color-dark-rgb);

  --ion-text-color: var(--ion-color-light);
  --ion-text-color-rgb: var(--ion-color-light-rgb);

  --ion-color-step-50: #0b2630;
  --ion-color-step-100: #153039;
  --ion-color-step-150: #1f3a42;
  --ion-color-step-200: #29444b;
  --ion-color-step-250: #334e54;
  --ion-color-step-300: #3d585d;
  --ion-color-step-350: #476266;
  --ion-color-step-400: #516c6f;
  --ion-color-step-450: #5b7678;
  --ion-color-step-500: #658081;
  --ion-color-step-550: #6f8a8a;
  --ion-color-step-600: #799493;
  --ion-color-step-650: #839e9c;
  --ion-color-step-700: #8da8a5;
  --ion-color-step-750: #97b2ae;
  --ion-color-step-800: #a1bcb7;
  --ion-color-step-850: #abc6c0;
  --ion-color-step-900: #b5d0c9;
  --ion-color-step-950: #bfdad2;

  --ion-border-color: var(--ion-color-step-100);

  /*--ion-item-background: var(--ion-color-step-50);*/
  --ion-item-background: "transparent";

  --ion-toolbar-background: var(--ion-color-dark-shade);

  --ion-tab-bar-background: var(--ion-color-dark-shade);

  --ion-card-background: var(--ion-color-step-50);

}
