/* Favorites */

ion-list.editing {
	padding-block: 0;
}
ion-list.editing ion-item:last-child {
	padding-block-end: 5em;
}
ion-list.editing:not(.windowed) ion-item-sliding:last-child {
	margin-block-end: 5em;
}
ion-modal ion-list.editing ion-item:last-child {
	padding-block-end: 0;
}
ion-list.editing ion-item {
	background: var(--ion-color-step-50);
}
ion-list.editing ion-item p,
ion-list.editing ion-item h2 {
	white-space: normal;
	overflow-wrap: anywhere;
}
ion-list.editing ion-item p {
	font-size: 0.8rem;
	padding: 0;
	text-indent: 0;
	color: var(--ion-color-step-500);
	width: 100%;
	margin-block: 0;
}
ion-list.editing ion-item h2 {
	font-size: 1.1rem;
	margin: 0.25em 0;
}
ion-list.editing ion-item ion-range ion-label {
	flex-grow: 0 !important;
	flex-shrink: 2;
}
ion-list.editing ion-item.chunky {
	background: var(--ion-color-dark);
	padding-block: 0.25em;
}
ion-list.editing ion-item.chunky .chunk {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.75em;
	padding-block: 0.1em;
	padding-inline-start: 0.25em;
	padding-inline-end: 0.75em;
	margin-block: 0.25em;
	margin-inline: 0.25em;
	background: var(--ion-color-step-150);
	border-radius: 0.5em;
}
ion-list.editing ion-item .chunk .icon ion-button {
	font-weight: 0.75em;
	--padding-start: 0.1em;
	--padding-end: 0.1em;
}
ion-list.editing.windowed {
	background: var(--ion-color-step-50);
}
ion-list.editing.windowed div.editing ion-item-sliding {
	background: var(--ion-color-step-50);
	border-bottom: 2px solid var(--ion-border-color);
}
#addButtonIdeas {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	padding: 0.2em;
}
ion-list.editing ion-item.editingItem::part(native) {
	--inner-padding-end: 0;
	padding-block: 0.25em;
}
ion-list.editing ion-item.addButtonItem::part(native) {
	background: var(--ion-color-step-100);
}
ion-list.editing ion-item.editingItem div.content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}
ion-list.editing ion-item.editingItem div.content .handle {
	flex-grow: 0;
	flex-shrink: 0;
	padding-inline: 0.5em;
	align-self: center;
}
ion-list.editing ion-item.editingItem div.content .doubleText {
	flex-grow: 2;
	flex-shrink: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	min-width: 0;
	max-width: 100%;
}
ion-list.editing ion-item.editingItem div.content .info {
	white-space: nowrap;
	padding-inline: 0.5em;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
ion-list.editing ion-item.editingItem div.content .text {
	white-space: normal !important;
	flex-grow: 2;
	flex-shrink: 1;
}
ion-list.editing ion-item.editingItem div.content .weight,
ion-list.editing ion-item.editingItem div.content .extra,
ion-list.editing ion-item.editingItem div.content .info {
	flex-grow: 0;
	flex-shrink: 1;
	font-size: 0.75em;
}
ion-list.editing ion-item.editingItem div.content .weight,
ion-list.editing ion-item.editingItem div.content .extra {
	white-space: normal !important;
	font-style: italic;
	padding-inline-end: 0.5em
}
ion-list.editing ion-textarea {
	background: var(--ion-color-dark);
	padding-inline: 1em;
	padding-block: 0.25em;
	--padding-top: 0;
	--padding-bottom: 0;
}
ion-list.editing ion-input.editable {
	background: var(--ion-color-step-100);
	--padding-start: 0.5em !important;
	--padding-end: 0.5em;
}

div.multiInput {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: stretch;
	width: 100%;
}
div.multiInput > div {
	flex-grow: 0;
	flex-shrink: 0;
	font-size: 0.75em;
	padding-inline: 0.5em;
}
div.multiInput ion-input {
	flex-grow: 1;
	flex-shrink: 1;
}
